<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cerberus Research</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboardStyle.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
</head>
<body>
    <div class="logo-top">
        <img src="{{ url_for('static', filename='banner.png') }}" alt="logo" class="favlogo" />
    </div>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="/dashboard">HOME</a></li>
                <li><a href="/profile?user_id={{ session['username'] }}">PROFILE</a></li>
                <li><a href="/download?file=report.pdf">REPORTS</a></li>
                <li><a href="/view?log=today.log">LOGS</a></li>
                <li><a href="/search">SEARCH</a></li>
            </ul>
        </nav>
        <a href="/logout" class="resume-button">LOGOUT</a>
    </header>
    <main class="content">
        {% if user %}
            <h1 style="margin-bottom: 18px;">User Profile</h1>
            <div class="card" style="margin: 0 auto; max-width: 400px;">
            <center>
                <img src="{{ url_for('static', filename='user2.png') }}" alt="User Avatar" class="avatar">
                <br>
                <h2>{{ user_id|e|upper }}</h2>
                <p class="centered-info"><b>Email:</b> {{ user.email }}</p>
                
                <a href="/changeEmail" class="resume-button">Change Email</a>
                
                <p class="centered-info"><b>Role:</b> {{ user.role|capitalize }}</p>
            </center>
                {% if flag %}
                <div style="background:#444; color:#111; padding:14px 18px; border-left:5px solid #39FF14; margin-top:18px; border-radius:7px; font-size:1.1rem; font-family:monospace;">
                  <strong style="color:#39FF14;">FLAG:</strong> <code style="color:#39FF14;">{{ flag }}</code>
                </div>
                {% endif %}
            </div>
        {% else %}
            <div class="error" style="margin-top: 40px;">User not found</div>
        {% endif %}
    </main>

        <div id="dog-lottie" style="
        position: fixed;
        bottom: 24px;
        width: 150px;
        height: 70px;
        z-index: 9999;
        pointer-events: none;
        display: none;
    "></div>
    <script>
    lottie.loadAnimation({
        container: document.getElementById('dog-lottie'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: "{{ url_for('static', filename='dog2.json') }}"
    });
    </script>
    <script src="{{ url_for('static', filename='doggo.js') }}"></script>
</body>
</html>